
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to <strong>Secret Santa</strong>!</h1>
    <p>Set up a game, add your friends and enjoy the christmas time.</p>
    <%= link_to "Create a game", events_path(@event), class: "btn btn-primary"%>
  </div>
</div>
