
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Ir5jGkxaYAyG7W9NFkqWlAHaEc%26pid%3DApi&f=1&ipt=5ed53eb6f3fe97b5eb20f3d578845618f71ac564247982e182e1243cb11f41d8&ipo=images);">
  <div class="container">
    <h1>Welcome to <strong>Secret Santa</strong>!</h1>
    <p>Set up a game, add your friends and enjoy the christmas time.</p>
    <%= link_to "Create a game", events_path(@event), class: "btn btn-primary"%>
  </div>
</div>
